@media all and (min-width: 720px) { 
	body {
		background-position: center;
	}
	h1, h2, h3 {
    font-family: 'Pacifico', cursive;
	font-size: 48px;
  }
  p {
    font-family: 'Caveat', cursive;
	font-size: 32px;
  }
  aside {
	  width: 200px;
	  background-position: right;
  }
}
