@media all and (min-width: 720px) { 
	body {
		background-position: center;
	}
	h1, h2, h3 {
    font-family: 'Pacifico', cursive;
	font-size: 48px;
  }
  p {
    font-family: 'Caveat', cursive;
	font-size: 32px;
  }
  aside {
	  width: 200px;
	  position: absolute; /* Абсолютное позиционирование */
	  right: 15px; /* Положение от правого края */
	  background-color: #C0C0C0;
	  box-shadow: 0 0 10px rgba(0,0,0,0.5);
	  border-radius: 7px;
  }
}
